/* You can add global styles to this file, and also import other style files */
$app-font-style: "Neue Haas Grotesk Display Pro", sans-serif;

body {
  .light {
    background: var(--neutral-bg-light, #fafafa);
  font-family: #{$app-font-style};
  width: 100%;
  }
}


.top-nav {
  background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--brand-primary-100, #EDF2FD);
}

.bottom-nav {
  border-bottom: 1px solid var(--brand-primary-100, #EDF2FD);
background: var(--neutral-light-800, #FFF);
  width: 100vw;
}

.bottom-nav {
  .navbar-nav {
    font-family: #{$app-font-style};
  }
}

.top-nav a.nav-link.dropdown-toggle {
  color: var(--neutral-light-100, #111);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-family: #{$app-font-style};
}

.bottom-nav a.nav-link.dropdown-toggle {
  color: #52555d;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: #{$app-font-style};
}


.dash-overview .para1 {
  color: var(--neutral-light-300, #777c88);
  font-size: 16px;
  font-family: #{$app-font-style};
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.dash-overview .para2 {
    color: var(--neutral-light-100, #111);
    font-size: 18px;
    font-family: #{$app-font-style};
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.5px;
  }

.dash-overview .para1 span:hover {
  color: #f64444;
  cursor: pointer;
  transition: color 0.3s;
}

.dash-overview {
  h3 {
    color: var(--neutral-light-100, #111);
    line-height: 40px;
    letter-spacing: 0.5px;
    font-size: 28px;
  }
  a span {
    color: var(--neutral-light-100, #111);
    line-height: 24px;
  }
}

.btn.icon {
  border-radius: 8px;
border: 1px solid var(--neutral-light-500, #C5CBDA);
background: var(--White, #FFF);
}

.small-row {
  border-radius: 16px;
  margin: 50px;
border: 1px solid var(--neutral-light-600, #E7EBF4);
color: var(--neutral-light-100, #111);
/* Card Effect */
box-shadow: 1px 2px 40px 5px rgba(0, 0, 0, 0.02);
}

.medium-row {
  margin: 50px;
  border-radius: 16px;
background: var(--brand-primary-100, #EDF2FD);
}

.medium-row .col {
  p {
    color: var(--neutral-light-100, #111);
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
  }
  h3 {
    color: var(--neutral-light-100, #111);
    font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
letter-spacing: 0.5px;
  }
}

.small-row {
  .small-row-col {
    border-radius: 8px;
border: 1px solid var(--neutral-light-600, #E7EBF4);
background: #FFF;
  }
}

.dash-info {
  border-top: 1px solid var(--neutral-light-600, #E7EBF4);
border-bottom: 1px solid var(--neutral-light-600, #E7EBF4);

}

.dash-info {
  .info1 {
    margin-right: 20px;
  }

  .info1 a {
    background: var(--brand-primary-600, #184EC9);
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
line-height: 26px; /* 144.444% */
letter-spacing: 0.5px;
  }

  .info1 .my-auto {
    color: var(--neutral-light-100, #111);
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;

  }

  .info1 .my-auto:hover {
    color: var(--brand-primary-600, #184EC9);
    font-weight: 600;
    cursor: pointer;
  }

  .info1 a p {
    color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;
  }
}

.info2 p {
  width: 60vw;
  color: var(--neutral-light-100, #111);
font-size: 16px;
font-weight: 500;
line-height: 28px; /* 175% */
letter-spacing: 0.5px;
}

.info2 h3 {
  color: var(--neutral-light-100, #111);
font-size: 28px;
font-weight: 600;
line-height: 40px; /* 142.857% */
letter-spacing: 0.5px;
}

.info3 {
  width: 60vw;
}

.info3 h3{
  color: var(--neutral-light-100, #111);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.5px;
}

.info3 p {
  color: var(--neutral-light-300, #777C88);
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;
}

.footer {
  background: var(--neutral-light-800, #FFF);
}

.footer .footer-btn {
  border-radius: 8px;
background: var(--brand-primary-600, #184EC9);
color: #fff;
font-size: 14px;
font-weight: 600;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;
}

.footer .footer-btn2 {
  color: var(--neutral-light-200, #52555D);

font-size: 16px;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

@media screen and (max-width: 500px) {
  // .bottom-nav a.nav-link.dropdown-toggle {
  //     color: #52555D;
  //     font-weight: 600;
  //     font-size: 0.6rem;
  // }
  .small-row {
    margin: 20px;
  }
  .medium-row {
    margin: 20px;
  }

  .info2 p {
    width: 90vw;
    font-size: 14px;
  }

  .info h3 {
    font-size: 21px;
  }

  .info3 {
    width: 90vw;
  }

  .info3 h3{
    color: var(--neutral-light-100, #111);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.5px;
  }
  
  .info3 p {
    color: var(--neutral-light-300, #777C88);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.5px;
  }
  
}

html, body { height: 100%;}
body { margin: 0; }
